<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="shards.min.css">
    <style type="text/css">
    	.contact-form{
    margin-top: 13%;
    margin-bottom: 5%;
    width: 70%;
}
    </style>
</head>
<body >
    <div class="container contact-form" >
    
    	<form action="#" th:action="${Torneos.id==null}?@{add}:@{/torneo/update/{id}(id=${Torneos.id})} "th:object="${Torneos}" method="post">
     <div class="form-group row">
	    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
	    <div class="col-sm-10">
	    <input type="text" class="form-control" name="nombre" id="nombre" style="margin-top: 13px" placeholder="Introduzca un nombre">
	    </div>
  	</div>
  	
	  <div class="form-group row">
	    <label for="ruta" class="col-sm-2 col-form-label">Deporte</label>
	    <div class="col-sm-10">
	    <input type="text" maxlength="50" class="form-control" name="deporte" id="deporte">
	    </div>
	  </div>
	  
  		<div class="form-group row">
	    <label for="capacidad" class="col-sm-2 col-form-label">fecha</label>
	    <div class="col-sm-10">
	    <input type="text" class="form-control" name="fecha" id="fecha" placeholder="fecha del torneo">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="capacidad" class="col-sm-2 col-form-label">Hora</label>
	    <div class="col-sm-10">
	    <input type="text" maxlength="2" class="form-control" name="hora" id="hora" placeholder="hora del torneo">
	    </div>
	  </div>
	 
  		<button type="submit" class="btn btn-success" style="margin-bottom: 10px">Agregar</button>
    </form>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="shards.min.js"></script>
</body>
</html>